# only include the NeoBundle bundle
resources/vim/bundle/*
!resources/vim/bundle/neobundle.vim

# temporary garbage
resources/vim/.netrwhist
resources/vim/vim
resources/vim/.vim
MacPorts-2.1.1.tar.bz2
*.swp
resources/vim/Powerline_default_default_compatible.cache
resources/vim/doc/tags*
resources/vim/bundle/*/doc/tags*

# projects and things
*.komodoproject
*.tmproj
*.tmproject
tmtags
/*.sublime-project

# OSX
.DS_Store*
.Trashes
.Spotlight-V100
._*

# Linus Torvalds: The Operating System
.directory
*~

# Windows
Thumbs.db
ehtumbs.db
Desktop.ini
