# Included stuff from Vundle
resources/vim/bundle/*
!resources/vim/bundle/vundle

# Temporary files
resources/vim/.netrwhist
resources/vim/vim
resources/vim/.vim
MacPorts-2.1.1.tar.bz2
*.swp
resources/vim/Powerline_default_default_compatible.cache
resources/vim/doc/tags*
resources/vim/bundle/*/doc/tags*

# Local files
resources/WebStorm6/componentVersions
resources/WebStorm6/options/appComponentVersions.xml
resources/WebStorm6/options/browsers.xml
resources/WebStorm6/options/other.xml
resources/WebStorm6/options/usage.statistics.xml
resources/WebStorm6/options/feature.usage.statistics.xml
resources/WebStorm6/options/statistics.application.usages.xml

# Projects and things
*.komodoproject
*.tmproj
*.tmproject
tmtags
/*.sublime-project

# OS X
.DS_Store*
.Trashes
.Spotlight-V100
._*

# Linux
.directory
*~

# Windows
Thumbs.db
ehtumbs.db
Desktop.ini

# In case we had Mercurial...
/.hg/*
*/.hg/*
.hgignore
