[submodule "resources/zsh/zsh-syntax-highlighting"]
	path = resources/zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "resources/vim/bundle/neobundle.vim"]
	path = resources/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "bins/journ"]
	path = bins/journ
	url = https://github.com/EvanHahn/journ.git
[submodule "bins/iscp"]
	path = bins/iscp
	url = https://github.com/EvanHahn/iscp.git
