[submodule "resources/zsh/zsh-syntax-highlighting"]
	path = resources/zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "resources/vim/bundle/neobundle.vim"]
	path = resources/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "resources/nvm"]
	path = resources/nvm
	url = https://github.com/creationix/nvm.git
