"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "autocomplete-snippets"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "git-diff"
      "github"
      "metrics"
      "open-on-github"
      "symbols-view"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete-plus"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    uriHandlerRegistration: "never"
  editor:
    fontFamily: "Inconsolata, Consolas,  DejaVu Sans Mono, monospace"
    fontSize: 18
    softWrap: true
  "exception-reporting":
    userId: "79cde7a5-bfd3-46a2-8850-1ed2d00efccd"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "one-dark-ui":
    fontSize: 14
    stickyHeaders: true
  "one-light-ui":
    fontSize: 14
    stickyHeaders: true
  "status-bar": {}
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
