'body':
  'cmd-0': 'unset!'

'.platform-darwin':
  'cmd-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-n': 'autocomplete-plus:activate'

'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
