'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'background-tips'
    'archive-view'
    'autoflow'
    'bookmarks'
    'feedback'
    'markdown-preview'
    'metrics'
    'welcome'
    'release-notes'
    'exception-reporting'
    'vim-mode'
    'autocomplete'
    'autocomplete-plus'
  ]
'tree-view':
  'hideIgnoredNames': true
'editor':
  'showIndentGuide': true
  'softWrap': true
  'fontSize': 14
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'autosave':
  'enabled': true
'open-on-github':
  'includeLineNumbersInUrls': false
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'autoclose-html':
  'closeOnEndOfOpeningTag': true
  'forceBlock': 'html, head, body'
  'forceInline': 'title, h1, h2, h3, h4, h5, h6, p, b, i, u'
'autocomplete-plus':
  'liveCompletion': true
  'includeCompletionsFromAllBuffers': true
