#side-menu {
  background: #222 !important;
}
#side-menu-opacity-layer {
  background-color: transparent;
}
#wordmark {
  display: none;
}

#chat-view {
  background-color: #fafafa;
}

.message {
  margin-top: 0;
}
.partner .message-info,
.partner .message-data {
  float: left;
}
.partner .message-info {
  margin-left: 30px;
  margin-right: 20px;
}
.message-timestamp {
  position: static;
}
.partner .message-timestamp {
  left: 55px;
  right: 0;
}
.partner .message-timestamp-text {
  right: 0;
  text-align: center;
}
.user .message-timestamp-text {
  left: 0;
}
.partner .bubble::before {
  left: -6px;
  right: 0;
  border-width: 7px 7px 7px 0px;
  border-color: transparent #E7E7E7 transparent transparent;
}
