@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* devtools */

.devtools-monospace {
  font-family: Inconsolata, Consolas, Monaco, monospace !important;
  font-size: 14px !important;
}

/* hide the tab bar */

#main-window:not([customizing]) #TabsToolbar {
  visibility: collapse;
}

/* let me shrink the sidebar */

#sidebar-box {
  min-width: 40px !important;
}

/* hide sidebar switcher for tab center redux */

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header {
  visibility: collapse;
}
